.rendered_html code {
    padding: 2px 4px;
    color: #d14;
    white-space: nowrap;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    font-style: normal;
}

.rendered_html pre code {
    border: 0;
    color: #000;
    background-color: #eee;
    white-space: pre-wrap;
    font-size: 100%;
    padding: 0px;
}

.rendered_html pre {
    border: 0;
    background-color: #eee;
    padding: 5px;
}

.rendered_html h1 {
    border-bottom: 2px solid #004E95;
    color: #004E95;
}

.rendered_html h2 {
    color: #0685B8;
}

.rendered_html h3 {
    font-style: italic;
    color: #56C0CE;
}

/* trailing space */
.edit_mode .cell.selected .CodeMirror-focused.cm-fat-cursor .cm-trailingspace {
    /* Turn trailing space red when in (juptyer-edit-mode && vim-normal-mode) */
    background-color: rgba(255, 0, 0, 0.3);
}

.edit_mode .cell.selected .CodeMirror-focused.cm-fat-cursor {
    /* normal mode */
    background-color: #F5F6EB;
}

.edit_mode .cell.selected .CodeMirror-focused:not(.cm-fat-cursor) {
    /* insert mode */
    background-color: #F2FCFF;
}

.container {
    width: 98% !important;
}

div.cell {
    /* Turn off border that indicates selected cell*/
    border: none;
}

div.cell.selected:before {
    /* Color of the bar on the left side of selected cell */
    background: rgb(111 182 255);
}

.edit_mode div.cell.selected:before {
    /* Color of the bar on the left side of selected cell in edit mode */
    background: rgb(114, 216, 89);
}

div.output.output_scroll {
    /* Style of output area border when collapsed */
    /* Compared to the default, make it less tall */
    height: 12em;
    /* Compared to the default, turn off the border shadow */
    -webkit-box-shadow: initial;
    box-shadow: initial;
}

div.output.output_scroll:before {
    /* Place a indicator bar to the left of the output area when it is collapsed */
    position: absolute;
    display: block;
    top: 0px;
    left: 0px;
    width: 3px;
    height: calc(100% + 0px);
    content: '';
}

div.output.output_scroll:before {
    /* Color of the bar on the left side of the output area */
    background: rgb(50 50 50 / 10%);
}

div.cell.code_cell.selected div.output.output_scroll:before {
    /* Color of the bar on the left side of the output area when selected */
    background: rgb(111 182 255);
}

.edit_mode div.cell.code_cell.selected div.output.output_scroll:before {
    /* Color of the bar on the left side of the output area when selected and in edit mode*/
    background: rgb(114, 216, 89);
}

div.input_prompt {
    color: rgb(200 200 200);
}

div.cell.selected div.input_prompt {
    color: rgb(111 182 255);
    font-weight: 900;
    /* text-decoration: dotted underline rgb(111 182 255); */
}

.edit_mode div.cell.selected div.input_prompt {
    color: rgb(114, 216, 89);
    font-weight: 900;
    /* text-decoration: dotted underline rgb(114, 216, 89); */
}

div.output_prompt {
    color: rgb(200 200 200);
}

div.cell.selected div.output_prompt {
    color: rgb(255 150 150);
    font-weight: 900;
    /* text-decoration: dotted underline rgb(255 150 150); */
}
